<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>32ff8aaa-aabf-46b5-aa81-160d8d172a14</ProjectGuid>
    <publishUrl>bin\Release\PublishOutput</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>any</RuntimeIdentifier>
  </PropertyGroup>
  <Target Name="Zip" AfterTargets="AfterPublish">
    <Delete Files="$(PublishUrl)web.config" ContinueOnError="true" />
	<Delete Files="$(PublishUrl)..\$(AssemblyName).zip" ContinueOnError="true" />
    <Exec Command="PowerShell -command Compress-Archive '$(PublishUrl)*' '$(PublishUrl)..\$(AssemblyName).zip'" />
  </Target>
</Project>